.container {
    width: 1080px;
    margin: auto;
    margin-top: 25px;
}

.box {
    width: 100%;
    background-color: #414141;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-bottom: 40px;
    height: 500px;
}

.box img {
    width: 70%;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.boxInfo {
    padding: 20px;
    color: #fff;
}

.boxTitle {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 35px;
}

.boxDescription {
    font-weight: normal;
    font-size: 20px;
}