<<<<<<< HEAD
=======
.container {
    height: calc(100vh - 60px);
    background-image: url('../public/assets/bgImage.png');
    background-size: cover;
}
>>>>>>> 36ee9756e2044b3499117292493b643539e6b7ac
